# General
.DS_Store
Thumbs.db
.env
.env.*
!.env.example

# Backend
backend/local-credentials.yml
backend/target/
backend/.mvn/
backend/*.iml

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.vscode/
frontend/package-lock.json

# Logs
*.log
logs/
